**/.*
node_modules
bower_components
npm-debug.log
coverage
aya5_240/Release
aya5_240/makefile.*
aya5_240/*.c
aya5_240/*.cpp
aya5_240/*.h
aya5_240/*.bat
aya5_240/*.dep
aya5_240/*.dsp
aya5_240/*.dsw
aya5_240/*.sln
aya5_240/*.vcproj
aya5_240/*.filters
aya5_240/*.rc
aya5_240/*.exe
aya5_240/*.o
aya5_240/*.py
aya5_240/em-*.js
